*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #555555;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

.container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 40px;
}

.header-logo {
    padding: 40px 0 20px;
    text-align: center;
}

.header-logo-image {
    width: 80px;
    margin-bottom: -60px;
}

.header-theme {
    width: 250px;
    margin: 0 auto 40px;
    padding: 35px 0 15px;
    color: #555555;
    background-color: #FFE200;
    font-weight: 400;
    text-align: center;
}

.login-container {
    display: none;
}

.home-container {
    display: none;
}

.form-container {
    max-width: 250px;
    margin: auto;
}

.form-input-container {
    margin-top: 5px;
}

.form-input-separator {
    padding: 5px 0;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 12px;
    font-weight: 100;
}

.btn {
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-primary {
    background-color: #FFE200;
    font-weight: 100;
    letter-spacing: 1px;
}

.btn-google {
    color: #fff;
    background-color: #367CFF;
    font-weight: 700;
}

.gallery-container {
    width: 612px;
    margin: auto;
}

.gallery {
    margin-top: 40px;
    color: #B7B7B7;
    text-align: center;
}

.gallery-day {
    font-size: 14px;
}

.gallery-theme {
    font-size: 25px;
    font-weight: 300;
}

.gallery-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    text-align: left;
}

.gallery-item {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 2px;
    background-color: #777;
}

.gallery-item:hover > .gallery-detail {
    display: flex;
}

.gallery-image {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.gallery-detail {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, .5);
}

.gallery-user {
    margin-top: 80px;
    color: #fff;
}

.gallery-user:after {
    content: ' ';
    display: block;
    width: 20px;
    margin: 10px auto;
    border-bottom: 1px solid #fff;
}

.upload-file-button {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    width: 200px;
    height: 200px;
    margin: 2px;
    background-color: #777;
    text-align: center;
    background-image: url('upload.png');
    background-size: cover;
    cursor: pointer;
}

.upload-file-button button {
    display: none;
}

.upload-file-button.selected button {
    display: inline-block;
}

.upload-file-button #upload-ok-button {
    margin-right: 5px;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    padding: 15px 0;
}