*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #555555;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

body.popup-open {
    overflow: hidden;
}

.container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;
}

.header-logo {
    padding: 40px 0 20px;
    text-align: center;
}

.header-logo-image {
    width: 80px;
    margin-bottom: -60px;
}

.header-theme {
    width: 250px;
    margin: 0 auto 40px;
    padding: 35px 0 15px;
    color: #FFFFFF;
    background-color: #42ABE0;
    font-weight: 400;
    text-align: center;
}

.login-container {
    display: none;
}

.home-container {
    display: none;
}

.form-container {
    max-width: 250px;
    margin: auto;
}

.form-input-container {
    margin-top: 5px;
}

.form-input-separator {
    padding: 5px 0;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 12px;
    font-weight: 100;
}

.btn {
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-primary {
    color: #FFFFFF;
    background-color: #42ABE0;
    font-weight: 100;
    letter-spacing: 1px;
}

.btn-primary[disabled],
.btn-primary:disabled,
.btn-primary.disabled {
    background-color: #bcd9e8;
    pointer-events: none;
}

.btn-google {
    color: #FFFFFF;
    background-color: #367CFF;
    font-weight: 700;
}

.gallery-container {
    max-width: 612px;
    margin: auto;
}

.gallery {
    margin-top: 40px;
    color: #B7B7B7;
    text-align: center;
}

.gallery-day {
    font-size: 14px;
}

.gallery-theme {
    font-size: 25px;
    font-weight: 300;
}

.gallery-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    text-align: left;
}

.gallery-item {
    position: relative;
    display: block;
    width: 33.3333%;
    padding: 2px;
    order: 1;
}

.gallery-item.clickable {
    cursor: pointer;
}

.gallery-item:hover > .gallery-detail {
    display: flex;
}

.gallery-image {
    width: 100%;
    padding-top: 100%;
    background-color: #777;
    background-size: cover;
    background-position: center;
}

.gallery-detail {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    padding: 10px;
    background-color: rgba(0, 0, 0, .5);
}

.gallery-user {
    margin-top: 80px;
    color: #fff;
}

.gallery-user:after {
    content: ' ';
    display: block;
    width: 20px;
    margin: 10px auto;
    border-bottom: 1px solid #fff;
}

.upload-file-button {
    display: block;
    width: 100%;
    padding-top: 100%;
    background-image: url('upload.png');
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.upload-file-button button {
    margin-top: 5px;
}

.upload-button-container {
    display: none;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
}

.upload-button-container button {
    margin: 3px;
}

.upload-button-container.active {
    display: flex;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    padding: 15px 0;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    margin: auto;
    z-index: 9999;
    background-color: rgba(0, 0, 0, .5)
}

.popup-open .popup {
    overflow-x: hidden;
    overflow-y: scroll;
}

.popup.active {
    display: block;
}

.popup-dialog {
    width: 100%;
    max-width: 500px;
    margin: auto;
    border-radius: 3px;
    overflow: hidden;
}

.popup-header {
    background: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
}

.popup-header > .title {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px;
    width: 85%;
}

.popup-header > .close {
    padding: 10px 15px;
    float: right;
    cursor: pointer;
}

.popup-image {
    display: block;
    width: 100%;
    background: black;
}