*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #555555;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

.container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 40px;
}

.login-container {
    display: none;
}

.header-logo {
    padding: 40px 0 20px;
    text-align: center;
}

.header-logo-image {
    width: 80px;
}

.header-theme {
    width: 250px;
    margin: -60px auto 40px;
    padding: 40px 0 30px;
    color: #555555;
    background-color: #FFE200;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.form-container {
    max-width: 250px;
    margin: auto;
}

.form-input-container {
    margin-top: 5px;
}

.form-input-separator {
    padding: 5px 0;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 12px;
    font-weight: 100;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 16px;
}

.btn-login {
    background-color: #FFE200;
    font-weight: 100;
    letter-spacing: 1px;
}

.btn-login-google {
    color: #fff;
    background-color: #367CFF;
    font-weight: 700;
}

.gallery-container {
    margin-top: 40px;
    color: #B7B7B7;
    text-align: center;
}

.gallery-day {
    font-size: 14px;
}

.gallery-theme {
    font-size: 25px;
    font-weight: 300;
}

.gallery-items {
    margin-top: 10px;
    text-align: left;
}

.gallery-item {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 1px;
    background-color: #777;
    cursor: pointer;
}

.gallery-item:hover > .gallery-detail {
    display: flex;
}

.gallery-image {
    width: 100%;
    height: 100%;
    background-image: url('image.jpg');
    background-size: cover;
}

.gallery-detail {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, .5);
}

.gallery-user {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.gallery-user:after {
    content: ' ';
    display: block;
    width: 20px;
    margin: 10px auto;
    border-bottom: 1px solid #fff;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    padding: 15px 0;
}