.header-logo {
    padding: 40px 0 20px;
    text-align: center;
}

.header-logo-image {
    width: 80px;
    margin-bottom: -60px;
}

.header-theme {
    width: 250px;
    margin: 0 auto 40px;
    padding: 35px 0 15px;
    color: white;
    background-color: #42ABE0;
    text-align: center;
}

.header-theme-desc {
    font-size: 14px;
    text-transform: uppercase;
}

.header-theme-title {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
}