*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    padding: 15px 0;
}

header {
    max-width: 300px;
    margin: auto;
    padding: 20px 0;
}

button {
    width: 100%;
    padding: 20px 0;
    border: none;
    color: white;
    background-color: black;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.header-logo {
    width: 100%;
}

.container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;
}