.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.login-container {
    max-width: 250px;
}

.logo {
    width: 100%;
}

.cancel {
    margin-top: 10px;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}